* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #495D70;
    background-color: #FFFFFF;
    font-family: "Merriweather", serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #2D3945;
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 23px 0;
    margin-bottom: 27px;
}

h1 {
    font-size: 18px;
    color: #FFFFFF;
}

.newsletter-invitation {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 36px;
}

h2 {
    color: #2D3945;
    font-size: 18px;

    margin-bottom: 10px;
}

p {
    color: #AAAFB4;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    

    margin-right: 22px;
    margin-left: 22px;
}

.separation-line {
    display: flex;
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 3px;
}

.separation-line-2 {
    display: flex;
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 26px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 5px;
    
}
.fieldset {
    border: none;
}

.contact-information {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 7px;
}

.contact-information legend {
    color: #2D3945;
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 24px;
}

.form-element {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-element input[type="text"],
.form-element input[type="email"],
.form-element input[type="tel"] {
    color: #495D70;
    font-size: 14px;
    font-family: "Merriweather", serif;
    font-weight: 300;
    text-align: left;
    background-color: #EFF0F1;
    border: none;
    border-radius: 3px; /* Curvatura de las esquinas del input */
    padding: 17px;
    width: 100%;
}

input::placeholder {
    color: #BEC2C5;
    font-size: 12px;
    font-style: italic;
    text-align: right;
}

.form-element label {
    color: #495D70;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

select {
    color: #BEC2C5;
    font-family: "Merriweather", serif;
    font-size: 14px;
    font-weight: 300;
    background-color: #EFF0F1;
    border: none;
    border-radius: 3px; 
    padding: 17px;
    width: 100%;
}

.zip input[type="text"] {
    width: 160px;
}

.form-element input:focus,
.form-element select:focus {
    outline: none;
    border: 1px solid #2D3945;
    background-color: #FFFFFF;
    transition-duration: 0.4s;
}


.newsletter {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.legend-title-newsletter {
    color: #2D3945;
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 24px;
}

.newsletter-element {
    color: #495D70;
    font-size: 14px;
    line-height: 1.5em;
    font-family: "Merriweather", serif;
    font-weight: 300;
    text-align: left;

    width: 100%;
    margin-bottom: 22px;
}

.newsletter-element-type {
    margin-bottom: 13px;
}
.newsletter-element-type:first-of-type {
    margin-top: 13px;
}

.newsletter-element-type:last-of-type {
    margin-bottom: 0px;
}

.newsletter-format-section > legend {
    margin-bottom: 12px;
}

.newsletter-format-section {
    display: flex;
    flex-direction: column;

    width: 100%;
}
.radio-button-1 {
    margin-bottom: 13px;
}

.radio-button-2 {
    margin-bottom: 5px;
}

textarea {
    color: #495D70;
    font-size: 14px;
    font-family: "Merriweather", serif;
    font-weight: 300;
    text-align: left;

    background-color: #EFF0F1;
    border: none;
    border-radius: 3px; /* Curvatura de las esquinas del input */
    padding: 32px;

    width: 100%;
    margin-top: 12px;
}

textarea:focus {
    outline: none;
    border: 1px solid #2D3945;
    transition-duration: 0.4s;
}

.newsletter-element button {
    display: flex;
    justify-content: center;

    font-family: "Merriweather", serif;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #4EBBB5;

    border: none;
    border-radius: 3px;

    padding: 18px 0;

    width: 100%;
}

footer {
    margin-bottom: 200px;
}

button:hover {
    color: #4EBBB5;
    background-color: #FFFFFF;
    border: 1px #4EBBB5 solid;
    transition-duration: 0.3s;
}

button:active {
    color: #FFFFFF;
    background-color: #388a86;
    border: none;
    transition-duration: 0.3s;
}

.form-element input:focus:invalid {
    border: 1px solid red !important;
}

/* Desktop */
@media only screen and (min-width: 960px) {
    .desktop-width {
        width: 594px;
    }
    header {
        margin-bottom: 65px;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 15px;
    }
    .newsletter-invitation {
        margin-bottom: 42px;
    }
    .separation-line,
    .separation-line-2 {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .separation-line-2 {
        margin-bottom: 44px;
    }
    .newsletter-form {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .contact-information {
        margin-bottom: 47px;
    }
    .form-element {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        margin-bottom: 8px;
    }
    .form-element input[type="text"],
    .form-element input[type="email"],
    .form-element input[type="tel"],
    select {
        width: 440px;
        padding: 15px;
    }
    .form-element label {
        width: 152px;
        height: 50px;

        display: flex;
        align-items: center;
    }
    .zip input[type="text"] {
        width: 154px;
    }

    
}













